@import "general_variables.css";
@import "css/navbar_button_styles.css";
@import "css/locationbar/result_highlighting.css";
/*Components*/
@import "css/spinner.css";
@import "css/bookmark_button.css";
@import "css/newtab_button.css";
@import "css/identity_box.css";
@import "css/back_forward_ie.css";
@import "css/checkbox.css";
/*Components*/

@import "css/spacing.css";
@import "css/menus.css";

@import "css/tabs_styles.css";
@import "css/tabs_below.css";

@import "css/result_layout.css";

@import "css/download_indicator.css";

@import "css/custom_icons.css";
@import "css/urlbar.css";

/*Misc*/
@import "css/close_icon.css";
@import "css/navbar_separator.css";
@import "css/context_icons/styles.css";
/*Misc*/
:root {
    --focus-outline: none !important;
    --focus-outline-inset: none !important;
    --focus-outline-offset: none !important;
    --focus-outline-width: none !important;
    --results_font_size: 10pt !important;
    --toolbarbutton-border-radius: 2px !important;
    --toolbarButton-menuArrow-icon: url('') !important;
    --toolbar-field-background-color: rgba(255, 255, 255, 0.3) !important;
    --btn-bg: linear-gradient(180deg, #f2f2f2 45%, #ebebeb 0, #cfcfcf) !important;
    --btn-hover: linear-gradient(180deg, #eaf6fd 45%, #bee6fd 0, #a7d9f5) !important;
    --btn-active: linear-gradient(180deg, #e5f4fc, #c4e5f6 30% 50%, #98d1ef 50%, #68b3db) !important;
    --btn-border: 1px solid #8e8f8f;
    --btn-border-hover: 1px solid #3c7fb1;
    --btn-border-active: 1px solid #18598A;
    --btn-border-radius: 3px;
    --btn-box-shadow: inset 0 0 0 1px #fffc;
    --btn-active-box-shadow: inset 1px 1px 0 #0003, inset -1px 1px 0 #0001;
    --balloon-bg: linear-gradient(180deg, #fff, #ebebeb) !important;
    --balloon-border: 1px solid rgba(0, 0, 0, .4) !important;
    --balloon-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, .4) !important;
    --balloon-padding: 1em 1em 1em 2.5em !important;
}

#main-window #main-menubar {
    background: none !important;
}




 #alltabs-button,
#scrollbutton-up, #scrollbutton-down,
#editBookmarkPanelImage,
#editBookmarkPanelFaviconContainer,
#editBookmarkSeparator,
#editBookmarkHeaderSeparator, #PanelUI-button #whats-new-menu-button, #firefox-view-button,  #PopupSearchAutoComplete .search-one-offs,
#PopupSearchAutoComplete .search-panel-header, #reader-mode-button, #unified-extensions-view > .panel-header, #identity-permission-box,
#tracking-protection-icon-container, #blocked-permissions-container, :root[inFullscreen="true"] #statuspanel, #PlacesToolbarItems > toolbarseparator, #unified-extensions-view > toolbarseparator
{
    display: none !important;
}




#TabsToolbar {
    background-image: none !important;
}

#main-window[sizemode="maximized"][tabsintitlebar] #titlebar {
    margin-bottom: 0 !important;
}

.chromeclass-toolbar-additional:hover > .toolbarbutton-icon,
#reload-button:hover > .toolbarbutton-icon, #navigator-toolbox {
    border: none !important;

}








.unified-extensions-item-menu-button.subviewbutton:hover, .unified-extensions-item-menu-button:hover, .unified-extensions-item-menu-button.subviewbutton {
    background: transparent !important;
}

#identity-box *:hover, .identity-box-button[open="true"], .unified-extensions-item-menu-button.subviewbutton:hover > .toolbarbutton-icon {
    background: unset !important;
}

toolbaritem#unified-extensions-panel .unified-extensions-item {
    margin: 0 !important;
}

/*----------------------*/

/*Size and positioning adjustments*/

#PanelUI-button,
#PanelUI-menu-button {
    min-width: 0.1px !important;
    width: 0.1px !important;
    max-width: 0.1px !important;
    opacity: 0 !important;
}


#identity-box {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nav-bar {
    margin-bottom: 5px;
}

toolbarbutton.bookmark-item:not(.subviewbutton){
    margin-top:0 !important;
}
#personal-bookmarks{
    margin-bottom: 2px !important;
    padding-left:10px !important;
}
panel {
    padding-block: 0 !important;
    margin-top: 5px !important;
}

#downloadsPanel-mainView, .unified-extensions-item-menu-button, .unified-extensions-item-menu-button > image, unified-extensions-item-action-button {
    padding: 0 !important;
}

#downloadsHistory > hbox, #unified-extensions-manage-extensions > label {
    /*margin:0 auto  !important;*/
}
#unified-extensions-manage-extensions{
    justify-content: center !important;
    align-items: center !important;
    display: grid !important;
}
.unified-extensions-item {
    margin-left: 2px !important;
}

.unified-extensions-item-menu-button > image {
    width: 20px !important;
    height: 20px !important;
}





#BMB_bookmarksPopup, panel[type="arrow"] {
    transition-duration: 0.01ms !important;
}



#downloadsHistory > hbox, #unified-extensions-manage-extensions > label {
    color: #333 !important;
}



#alltabs-button{
    border-radius: 3px !important;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3R5bGU9InN0b3AtY29sb3I6IzMzMztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2FhYTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik0xMSA2SDR2MWgxdjFoMXYxaDF2MWgxVjloMVY4aDFWN2gxVjZaIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+"), var(--btn-bg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    outline: var(--btn-border) !important;
    box-shadow: var(--btn-box-shadow) !important;
    width: 16px !important;
    height: 16px !important;
    min-width: unset !important;
    min-height: unset !important;
}



.unified-extensions-item-menu-button.subviewbutton {
    list-style-image: url("./images/green.png") !important;
}
.unified-extensions-item-menu-button.subviewbutton image{
    width: 16px !important;
    height: 16px !important;
}
.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("./images/globe.png") !important;
}

.tab-icon-image[src="chrome://global/skin/icons/settings.svg"] {
    content: url("./images/preferences.png") !important;
}

.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"] {
    content: url("./images/addons.png") !important;
}

.tab-icon-image[src="chrome://global/skin/icons/info.svg"] {
    content: url("./images/error-16.png") !important;
}

#identity-box.unknownIdentity #identity-icon {
    list-style-image: url("./images/error-16.png") !important;
    transform: scale(0.85) translateY(1px) !important;
}



/*----------------------*/
.unified-extensions-item-contents {
    border-bottom: 1px solid lightgreen;
    padding-bottom: 10px;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
    border: 1px solid #8e8f8f !important;
    border-bottom: none !important;
}

.tab-background {
    border-radius: 0 !important;
}

.downloadIconShow > .button-box > .button-icon {
    list-style-image: url("images/folder-item.png") !important;
}

#home-button image, #preferences-button .toolbarbutton-icon {
    transform: translateY(1px);
}


.findbar-find-previous, .findbar-find-next, .dialog-button-box button, popupnotification button, .edit-topsites button, #editBookmarkPanelRemoveButton, #editBookmarkPanelDoneButton {
    background: var(--btn-bg) !important;
    border: 1px solid #8e8f8f !important;
    border-radius: 3px !important;
    box-shadow: var(--btn-box-shadow) !important;
    box-sizing: border-box !important;
    color: #222 !important;
    font: 10pt Segoe UI, SegoeUI, Noto Sans, sans-serif !important;
    min-height: 23px !important;
    min-width: 90px !important;
    padding: 3px 12px !important;
    position: relative !important;
    text-align: center !important;
}
.findbar-find-previous, .findbar-find-next{
    min-width: 0 !important;
    padding:3px 6px !important;
}


.dialogBox, #unified-extensions-view,#unified-extensions-panel{
    border-radius: 3px !important;
}



#commonDialog, popupnotification {
    background: var(--balloon-bg);
    border: var(--balloon-border);
    border-radius: 3px !important;
    box-shadow: var(--balloon-box-shadow);
    padding: var(--balloon-padding);
    position: relative !important;
}




#new-window-button image, #preferences-button image, #privatebrowsing-button image, #unified-extensions-button image {
    width: 32px !important
}


#privatebrowsing-button image {
    height: 30px !important;
    width: 30px !important;
}



#unified-extensions-button image {
    height: 32px !important;
}

.tabbrowser-tab[label="Settings"] .tab-label {
    transform: translateY(100px);
}

.tabbrowser-tab[label="Settings"] .tab-label:after {
    color: rgb(139, 186, 243) !important;
    text-shadow: none;
    content: "Preferences" !important;
    display: block !important;
    left: 0 !important;
    position: absolute !important;
    top: -99px !important;
}

.tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
    content: url("./images/privatebrowsing.png") !important;

}

.downloadProgress {
    background: radial-gradient(circle at 0 50%, #0000001f 10px, transparent 30px), radial-gradient(circle at 100% 50%, #0000001f 10px, transparent 30px), linear-gradient(180deg, #f3f3f3af, #fcfcfcaf 3px, #dbdbdbaf 6px, #cacacaaf 0, #d5d5d5af), #ddd !important;
    border: 1px solid #8e8f8f !important;
    border-radius: 3px !important;
    box-shadow: inset 0 0 0 1px #f3f3f388, 0 0 0 1px #eaeaea88 !important;
    height: 15px !important;
    margin: 2px 0 !important;
    overflow: hidden !important
}

.downloadProgress::-moz-progress-bar {
    background-color: #0bd82c !important;
    background-image: linear-gradient(180deg, #f3f3f3af, #fcfcfcaf 3px, #dbdbdbaf 6px, transparent 0), radial-gradient(circle at 0 50%, #0000002f 10px, transparent 30px), radial-gradient(circle at 100% 50%, #0000002f 10px, transparent 30px), linear-gradient(180deg, transparent 65%, #ffffff55), linear-gradient(180deg, transparent 6px, #cacaca33 0, #d5d5d533) !important;
    box-shadow: inset 0 0 0 1px #ffffff1f !important;
    height: 100% !important;
    overflow: hidden !important
}

.downloadProgress[paused]::-moz-progress-bar {
    background-color: #e6df1b !important;
}

.downloadProgress:indeterminate::-moz-progress-bar {
    animation: progressbar 3s linear infinite !important;
    background: linear-gradient(90deg, transparent, #ffffff80, transparent 40%) !important;
    content: "" !important;
    display: block !important;
    height: 100% !important
}

@keyframes progressbar {
    0% {
        transform: translateX(-40%)
    }
    60% {
        transform: translateX(100%)
    }
    to {
        transform: translateX(100%)
    }
}

.downloadIconCancel > .button-box > .button-icon {
    list-style-image: url("images/close.png") !important;
}

.downloadIconRetry > .button-box > .button-icon {
    list-style-image: url("images/reload.png") !important;

}

.downloadButton .button-box {
    background-color: transparent !important;
}

#history-panelmenu, #sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
    list-style-image: url("images/history.png") !important;
}

#identity-box[pageproxystate="valid"].localResource #identity-icon{
    list-style-image: url("images/page_aero.png") !important;
}


#unified-extensions-panel, #downloadsPanel{
    backdrop-filter: blur(4px) !important;
    border: 1px solid #8e8f8f !important;
    border-radius: 3px !important;
    box-shadow: inset 0 0 0 1px #fffc,  0 2px 5px 2px rgba(0, 0, 0, 0.8) !important;
    background:linear-gradient(135deg, #fff5 70px, transparent 100px), linear-gradient(225deg, #fff5 70px, transparent 100px),linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%,
    #0002 41% 41.5%, #bbb2 44% 45%, #bbb2 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #bbb2 57% 63%, #0002 67% 69%, #bbb2 69.5% 70%, #0002 73.5% 74%, #bbb2 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #bbb1 90%) !important;
}

#unified-extensions-view{
    position: relative !important;
    border-radius: 3px !important;
}
#unified-extensions-manage-extensions, #downloadsHistory{
    border: var(--btn-border) !important;
    background: linear-gradient(rgba(234, 240, 248, 0.45) 45%, rgba(255, 255, 255, 0.3) 0%, rgba(178, 213, 238, 0.4)) !important;
}
#dialogGrid #titleText {
    font-size: 1.24rem !important;
    font-weight: unset !important;
}
#page-action-buttons{
    position: absolute !important;
    top:1px ;
    right:22px;
}
#menubar-items menubar menu:is(:hover, :active){
    background: linear-gradient(135deg, #fff5 70px, transparent 100px), linear-gradient(225deg, #fff5 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%,
    #0002 41% 41.5%, #bbb2 44% 45%, #bbb2 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #bbb2 57% 63%, #0002 67% 69%, #bbb2 69.5% 70%, #0002 73.5% 74%, #bbb2 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #bbb1 90%) ;
    box-shadow:inset 0 0 0 1px  #8e8f8f !important;
    background-color: transparent !important;
}
#menubar-items menubar menu *{
background-color:transparent !important;
    background: transparent !important;
}
#menubar-items{
    backdrop-filter: blur(4px) !important;
    background: rgba(255, 255, 255, 0.3);
}
#unified-extensions-view {
    background: rgba(255, 212, 41, 0.2) !important;
}

#downloadsPanel-mainView{
    background: rgba(16, 199, 255, 0.53) !important;

}
.findbar-find-previous{
    list-style-image: url("images/arrow-up.png") !important;
    transform: scale(0.6);
}


.findbar-find-next{
    list-style-image: url("images/arrow-up.png") !important;
    transform: scale(0.6);
    rotate: 180deg;
}
.findbar-textbox{
    height:27px !important;
    align-self:center !important;
    box-shadow: inset 0 0 0 1px #f4f4f4, inset 1px 1px 0 1px #aeaeae, inset -1px -1px 0 1px #ddd, inset 3px 3px 6px #ccc !important;
    border-color: #8e8f8f !important;

}
.findbar-textbox:focus, .findbar-textbox[status="notfound"]:focus{
    border-color: #8e8f8f !important;

}
.findbar-textbox[status="notfound"]{
    background-color: #e9f7fe !important;
    box-shadow: inset 0 0 0 1px #def9fa, inset 1px 1px 0 1px #79c6f9, inset -1px -1px 0 1px #c6e9fc, inset 3px 3px 6px #b1dffd !important;
    border-color: #8e8f8f !important;
}
