
@-moz-document url-prefix(about:addons),
url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
    :root {
        --in-content-category-text-hover: HighlightText !important;
        --in-content-category-background-hover: Highlight !important;
        --in-content-category-text-selected: black !important;
        --in-content-category-background-selected:  linear-gradient(blue, white) !important;
        --section-width: unset !important;
        --main-margin-start: unset !important;
        --in-content-page-background: linear-gradient(to bottom right, #f5f5f5, -moz-Dialog, #f5f5f5, -moz-Dialog) !important;
    }

    @media (max-width: 830px) {

        :root {
            --section-width: 100% !important;
            --in-content-sidebar-width: 49px !important;
            --main-margin-start: 0px !important;
        }

    }
    #categories .category[name="discover"],
    recommended-extensions-section {
        display: none !important;
    }
    .back-button{
        margin-left:5px !important;
        padding:4px !important;
        background-image: url("../images/back_sm.png") !important;
        background-color: transparent !important;
        background-repeat: no-repeat !important;
    }
    #categories .category:hover {
        background-color: linear-gradient(#cbdcec 40%, #a2cfec)  !important;
        box-shadow: inset 0 0 0 1px #fffc !important;
        box-shadow: inset 0 0 0 1px #fffc !important;

    }

    #categories .category[selected]{
        border:1px solid #8e8f8f !important;
        border-right-color: transparent !important;

        box-shadow: inset 0 0 0 1px #fffc !important;

    }

    .category {
        margin-inline-start: 0px !important;
        transition: none !important;
    }

    /* dimensions / positioning */
    #addons-page .main-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    #addons-page #header-search {
        min-height: unset !important;
    }

    #addons-page #header-search .textbox-input-box {
        height: 18px !important;
    }

    #addons-page #addon-list {
        margin-inline-start: -1px !important;
    }

    #addons-page:not(.inSidebar):not([aios-inSidebar="true"]) .view-pane > .list > scrollbox {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #addons-page #detail-view,
    #addons-page #userstyle-sorting,
    #addons-page .global-warning-container,
    #addons-page .global-info-container {
        margin-inline-start: 0px !important;
        margin-inline-end: 1px !important;
    }

    #addons-page .detail-view-container {
        margin-inline-start: 10px !important;
    }

    #addons-page #view-port {
        margin-inline-end: 4px !important;
    }

    #addons-page #header {
        padding: 2px 0 !important;
        margin: 0 !important;
    }

    /* tweaks for small windows */
    @media (max-width: 830px) {

        .category {
            padding-inline-start: 10px !important;
            margin-inline-end: 0px !important;
        }

        .main-content {
            padding-left: 28px !important;
            padding-right: 28px !important;
        }

    }


    .category:not([selected="true"]):hover .category-icon {
        filter: brightness(2.00) !important;
    }

    .category[name]:not([selected]):hover,
    #category-discover:not([selected="true"]):hover .category-icon,
    #category-theme:not([selected="true"]):hover .category-icon {
        filter: brightness(1.5) !important;
    }

    #category-plugin:not([selected="true"]):hover .category-icon {
        filter: brightness(2.25) !important;
    }

    #heading,
    #list-view-heading {
        margin-top: unset !important;
        margin-bottom: unset !important;
        margin-inline-start: unset !important;
        min-width: 100% !important;
        /*margin-top: -26px !important;*/
    }

    #heading .header-name,
    #list-view-heading .header-name {
        font-size: inherit !important;
        font-weight: unset !important;
    }

    #nav-header {
        min-height: unset !important;
    }

    #header-utils-btn {
        min-height: 26px !important;
        min-width: 50px !important;
        -moz-box-ordinal-group: 0 !important;
        order: -1 !important;
    }

    #header-inner {
        margin: unset !important;
        width: calc(100vw - 246px) !important;
    }

    /* tweaks for small windows */
    @media (max-width: 830px) {

        #header-inner {
            margin: unset !important;
            width: calc(100vw - 120px) !important;
        }

        #heading #updates-container {
            display: none !important;
        }

    }

    #list-view-heading-name {
        visibility: hidden !important;
    }

    #show-all-extensions,
    #heading-name,
    #header-inner #search-label {
        display: none !important;
    }

    #header-search {
        padding: 0px 0px !important;
        min-width: 200px !important;
        width: unset !important;
    }

    #header-search .textbox-input {
        font-size: 0.96em !important;
    }

    #header-inner button,
    #header-inner button .button-box {
        margin: 0 !important;
        padding: 0 !important;
    }

    #heading .heading-inner {
        margin-inline-start: 0 !important;
    }

    .message-bar {
        background-color: transparent !important;
    }

    .addon {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    addon-card:not([expanded]) .addon.card {
        max-width: unset !important;
        padding-inline-end: 2px !important;
    }

    .list-view-heading-inner {
        -moz-box-flex: 1 !important;
        display: flex !important;
        width: unset !important;
    }

    .list > .addon {
        margin: unset !important;
    }

    .list > .addon,
    .list > .addon:hover {
        box-shadow: unset !important;
        border-bottom: 1px solid var(--in-content-box-border-color) !important;
    }

    .sidebar-footer-button .text-link {
        margin-inline-start: 0 !important;
    }

    #detail-view .card {
        box-shadow: unset !important;
    }

    #detail-view .detail-view-container {
        width: calc(100vw - 300px) !important;
    }

    #detail-view .detail-view-wrapper > spacer {
        display: none !important;
    }

    #detail-icon {
        min-width: 32px !important;
        min-height: 32px !important;
        max-width: 32px !important;
        max-height: 32px !important;
    }

    body > div#full {
        margin-inline-start: -1px !important;
        /*margin-inline-end: 10px !important;*/
        padding-inline-end: 12px !important;
        /*margin-bottom: 4px !important;*/
        max-width: unset !important;
        box-shadow: unset !important;
        border: 0 !important;
        border-radius: 0 !important;
    }


    .addon.card {
        box-shadow: unset !important;
        margin-bottom: 10px !important;
        margin-left:5px !important;
    }
    .addon-detail-row{
        border-top-color: skyblue !important;
    }
    .tab-group{
        border-bottom-color: transparent !important;
        border-top-color: transparent !important;


    }
    button.tab-button[selected]{
        color: #219aeb !important;
        border-top-color: transparent !important;
        border-bottom-color: darkblue !important;
    }
    addon-card:not([expanded="true"]) .addon.card:hover {
        /*background: Highlight !important;*/
        box-shadow: unset !important;
    }

    addon-card:not([expanded="true"]) .addon.card:hover .card-contents :is(div,span,.addon-name-link) {
        color: #222 !important;
    }
    .addon-name-link, .addon-name-container h1{
        font-weight: 500 !important;
    }
    /* remove headers like 'Enabled'/'Disabled' */
    .list-section-heading {
        display: none !important;
    }



    recommended-themes-section,
    recommended-extensions-section {
        display: none !important;
    }

    addon-list message-bar-stack.pending-uninstall {
        margin-bottom: 0px !important;
    }

    #addons-page .main-content {
        margin-inline-start: -1px !important;
    }

    .main-heading,
    .main-search {
        max-width: unset !important;
        padding-inline-start: unset !important;
        padding-top: unset !important;
        padding-bottom: unset !important;
        margin-inline-start: 0px !important;
    }
    .sticky-container {
        background: rgb(204,217,234) !important;
        z-index: 1000 !important;
    }

    .main-search {
        margin-top: 1px !important;
    }

    .main-heading {
        margin-top: -26px !important;
    }

    .main-heading .header-name,
    .main-heading .spacer,
    .main-search .search-label {
        display: none !important;
    }

    .main-search search-textbox {
        min-height: unset !important;
        width: 300px !important;
        font-size: 12px !important;
    }

    .main-heading .back-button,
    .page-options-menu > .more-options-button {
        min-width: unset !important;
        min-height: unset !important;
        height: 22px !important;
    }

    addon-page-options panel-list {
        z-index: 1000 !important;
    }

    .main-heading .page-options-menu {
        order: -1;
    }

    button[data-l10n-id="addon-updates-manual-updates-found"] {
        min-height: 0 !important;
        padding: 0 !important;
    }

    .card-heading-image {
        margin: unset !important;
    }

    .category {
        margin-inline-end: -4px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .sidebar-footer-list {
        margin-inline: 0px !important;
    }

    #preferencesButton {
        fill: #8b8b8b !important;
    }

    #help-button {
        fill: #ff0000 !important;
    }

    #preferencesButton:hover,
    #help-button:hover {
        color: #333 !important;
        background: linear-gradient(180deg, #eaf6fd 45%, #bee6fd 0, #a7d9f5) !important;
    }
    search-textbox[focused]{
        border:1px solid skyblue !important;
        outline:1px solid skyblue !important;

    }
    .sidebar-footer-icon {
        fill: unset !important;
    }
    .textbox-search-icon{
        list-style-image: url("../images/search.png") !important;
    }
    .addon-badge {
        width: 16px !important;
        height: 16px !important;
    }

    /* hide 'Colorways' info */
    section[section="2"] :is(h2,h3),
    h2[data-l10n-id="theme-monochromatic-heading"],
    h3[data-l10n-id="theme-monochromatic-subheading"] {
        display: none !important;
    }

    .monochromatic-addon-list addon-card .card {
        width: 350px !important;
        box-sizing: inherit !important;
    }

    addon-list[type="theme"].monochromatic-addon-list .card-heading-image {
        max-width: 335px !important;
    }

    .monochromatic-addon-list .addon-name-container .spacer,
    .monochromatic-addon-list .addon-name-container {
        display: flex !important;
    }

    .colorways-section {
        display: none !important;
    }

    colorways-card .addon.card {
        max-width: unset !important;
        padding-inline-end: 0px !important;

    }
    .addon.card {
        border:1px solid #8e8f8f !important;
        box-shadow: inset 0 0 0 1px #fffc !important;
        background: rgba(104, 179, 219, 0.2) !important;
    }
    colorways-card .card-heading-image {
        max-width: 335px !important;
    }

    #colorways-preview-text-container {
        position: unset !important;
        display: unset !important;
        width: unset !important;
        height: unset !important;
        margin: unset !important;
    }

    /* fix Firefox bug */
    #addon-inline-options {
        height: 2000px !important;
        min-height: unset !important;
        max-height: unset !important;
        overflow-y: auto !important;
    }

    .inline-options-stack {
        height: unset !important;
        min-height: calc(100vh - 200px) !important;
        max-height: calc(100vh - 200px) !important;
        overflow-y: auto !important;
    }

    #full {
        background-image: 	linear-gradient(to bottom, rgb(231, 237, 246) 3px, rgba(231, 237, 246, 0) 156px), linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.2)), linear-gradient(32deg, rgba(255, 255, 255, 0) 19.5%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 21.5%, rgba(255, 255, 255, 0.2) 22%, rgba(255, 255, 255, 0.2) 25.5%, rgba(255, 255, 255, 0.1) 26%, rgba(255, 255, 255, 0.1) 27.5%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, 0) 49.5%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 52.5%, rgba(255, 255, 255, 0.2) 53%, rgba(255, 255, 255, 0.2) 54.5%, rgba(255, 255, 255, 0.1) 55%, rgba(255, 255, 255, 0.1) 57.5%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 87%, rgba(255, 255, 255, 0.2) 90%), url("chrome://userchrome/content/pages/preferences/images/background-texture.png") !important;
        background-color: rgb(204, 217, 234) !important;
    }

    :root {
        --in-content-page-background: transparent !important;
    }
    #content{
        padding-top:3px !important;
    }

    .sticky-container {
        background: transparent !important;
        padding-bottom:20px !important;
    }

    addon-list:not([type="theme"]) addon-card:not([expanded]):not([panelopen]) > .addon.card[active="false"]:not(:focus-within):not(:hover){
        opacity: 1 !important;
    }
}
