 #context-navigation :is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):hover {
    background-color: unset !important;
    outline: none !important;
}


:is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(menuitem,menu,.subviewbutton,toolbarbutton):not(#appMenu-fxa-status2) {
    border-radius: 3px !important;

}

 :is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(.subviewbutton):not(#appMenu-fxa-status2, #downloadsHistory, #unified-extensions-manage-extensions):hover, .downloadButton:hover, #downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:hover,
 #downloadsListBox > richlistitem.openWhenFinished.hoveringMainArea:hover, #downloadsListBox > richlistitem[verdict]:hover, #downloadsListBox > richlistitem.openWhenFinished:hover, .bookmark-item:hover{
    background: transparent !important;
    background-color: transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.55) 45%, rgba(135, 206, 235, 0.36)) !important;
    border-radius: 3px !important;
    outline: 1px solid rgba(124, 163, 206, 0.7) !important;
    outline-radius: 3px !important;
    outline-offset: -1px !important;
     box-shadow: inset 0 0 0 1px #fffc, inset 0 -8px 10px #fff !important;
}
 .bookmark-item:hover{
     background: linear-gradient(135deg, #fff5 70px, transparent 100px), linear-gradient(225deg, #fff5 70px, transparent 100px), linear-gradient(54deg, #0002 0 4%, #6661 6% 6%, #0002 8% 10%, #0002 15% 16%, #aaa1 17% 18%, #0002 23% 24%, #bbb2 25% 26%, #0002 31% 33%, #0002 34% 34.5%, #bbb2 36% 40%,
     #0002 41% 41.5%, #bbb2 44% 45%, #bbb2 46% 47%, #0002 48% 49%, #0002 50% 50.5%, #0002 56% 56.5%, #bbb2 57% 63%, #0002 67% 69%, #bbb2 69.5% 70%, #0002 73.5% 74%, #bbb2 74.5% 79%, #0002 80% 84%, #aaa2 85% 86%, #0002 87%, #bbb1 90%)  !important;
     box-shadow:  none !important;
     outline:1px solid #fff !important;

 }

:is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(menuitem,menu,.subviewbutton,toolbarbutton):not(#appMenu-fxa-status2):hover .unified-extensions-item-contents {
    border-bottom: 1px solid transparent !important;
}
#unified-extensions-manage-extensions:hover{
    background: linear-gradient(rgba(248, 190, 16, 0.45) ,  rgba(222, 245, 53, 0.76)) !important;
}
 #unified-extensions-manage-extensions{
     box-shadow: inset 0 11px 2px rgba(255, 255, 255, 0.26) !important;
     background: linear-gradient(rgba(248, 241, 83, 0.3), rgba(243, 245, 39, 0.6)) !important;
 }

 #unified-extensions-manage-extensions:active{
     box-shadow: var(--btn-active-box-shadow) !important;
 }
#downloadsListBox {
    margin-bottom: 10px !important;
}
#downloadsListBox .download-state {
    border:1px solid rgba(0,0,0,0) !important;
}
 .downloadContainer{
     border-bottom: 1px solid darkblue !important;
     padding-bottom: 13px !important;

 }
 .download-state:hover .downloadContainer{
     border-bottom-color: transparent !important;

 }

 .downloadTarget:hover, .download-state:hover, .downloadButton:hover, #downloadsHistory:hover,#unified-extensions-manage-extensions:hover{
     cursor: pointer !important;
 }
.downloadsPanelFooterButton .button-text{
    margin: 0 auto !important;
}
.bookmark-item, .bookmark-item:hover{
    padding:4px !important;
    border-radius: 5px !important;
}
 .bookmark-item{
     margin-right: 5px !important;
 }
.bookmark-item:active{
    color: inherit !important;
    background: transparent !important;
    background-color: transparent !important;
    background-image: linear-gradient(180deg, #e5f4fc, #c4e5f6 30% 50%, #98d1ef 50%, #68b3db) !important ;
    outline:1px solid #fff !important;
    outline-radius: 3px !important;
    outline-offset: -1px !important;
    box-shadow: inset 1px 1px 0 #0003, inset -1px 1px 0 #0001 !important;
}
 #downloadsHistory:hover{
     background: linear-gradient(rgba(135, 206, 235, 1), rgba(225, 255, 67, 0.7)) !important;
 }
 #downloadsHistory:active{
    box-shadow: var(--btn-active-box-shadow) !important;
 }