 #context-navigation :is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):hover {
    background-color: unset !important;
    outline: none !important;
}


:is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(menuitem,menu,.subviewbutton,toolbarbutton):not(#appMenu-fxa-status2) {
    border-radius: 3px !important;

}

 :is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(.subviewbutton):not(#appMenu-fxa-status2):hover, .downloadButton:hover, #downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:hover,
 #downloadsListBox > richlistitem.openWhenFinished.hoveringMainArea:hover, #downloadsListBox > richlistitem[verdict]:hover, #downloadsListBox > richlistitem.openWhenFinished:hover{
     color: inherit !important;
    background: transparent !important;
    background-color: transparent !important;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0px, transparent 0px),
    linear-gradient(to left, rgba(255, 255, 255, 0.4) 0px, transparent 0px),
    linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, transparent 0px),
    linear-gradient(to bottom, rgba(163, 196, 247, 0.2), rgba(122, 180, 246, 0.2)) !important;
    border-radius: 3px !important;
    outline: 1px solid rgba(124, 163, 206, 0.7) !important;
    outline-radius: 3px !important;
    outline-offset: -1px !important;
     box-shadow: inset 0 0 0 2px #fffc !important;
}

:is(popup,menupopup,panel,panelmultiview,.panel-subview-body) :is(menuitem,menu,.subviewbutton,toolbarbutton):not(#appMenu-fxa-status2):hover .unified-extensions-item-contents {
    border-bottom: 1px solid transparent !important;
}


#downloadsListBox .download-state {
    border: 1px solid rgba(229, 244, 252, 0.65) !important;
    box-shadow: inset 0 0 0 1px solid #fffc;
}

#downloadsListBox {
    margin-bottom: 5px !important;
    padding-bottom: 2px !important;
}

#downloadsListBox .download-state {
    margin: 5px !important;
    margin-bottom: 1px !important;
}
.downloadsPanelFooterButton .button-text{
    margin: 0 auto !important;
}