#PopupSearchAutoComplete :is(richlistitem,button):is(:hover,[selected]),
.urlbarView button:is(:hover,:hover:active,[selected]),
.urlbarView-row[row-selectable]:not([selected]):hover,
.urlbarView-row[selected] {
    color: rgb(56, 127, 213) !important;
    background-color: transparent !important;
    background-image: linear-gradient( rgba(178, 213, 238, 0.31) 0%, rgb(178, 213, 238,0.8));
    box-shadow: 0 2px 2px 0px rgba(255, 255, 255, 0.3) inset,
    inset 0 -1px 0 0 #777,  0 -4px 6px 0px rgba(255, 255, 255, 0.6) inset;
    border: 1px solid rgba(124, 163, 206, 1) !important;

}

.urlbarView-row:active{
    background-image: linear-gradient(rgba(255, 255, 255, 0.55) 45%, rgba(135, 206, 235, 0.36)) !important;
    box-shadow: inset 0 0 0 1px #fffc, inset 0 -8px 10px #fff !important;
}
#urlbar-results .urlbarView-row[selected] .urlbarView-title,
#urlbarView-results .urlbarView-title[selected],
#urlbar-results .urlbarView-row[selected] .urlbarView-url,
#urlbarView-results .urlbarView-url[selected],
#urlbar-results .urlbarView-row[selected] .urlbarView-action,
#urlbarView-results .urlbarView-action[selected],
#urlbar-results .urlbarView-row[selected] .ac-separator,
#urlbarView-results .ac-separator[selected] {
    color: HighlightText !important;
}

.urlbarView-title {
    color: #254db0;
}

.urlbarView-row:hover .urlbarView-title {
    color: rgb(56, 127, 213) !important;
}

#urlbar-results .urlbarView-row[selected] .urlbarView-title {
    color: rgb(56, 127, 213) !important;
}

#urlbar-results .urlbarView-row[selected] .urlbarView-url {
    color: rgb(31, 88, 159) !important;

}

#urlbar-results .urlbarView-row[selected] .urlbarView-action {
    color: rgb(31, 88, 159) !important;

}

.urlbarView-url, .urlbarView-action {
    color: darkblue !important;
}
.urlbarView-url{
    transform: translateX(-5px) !important;

}
.urlbarView-action {
    transform: translateX(15px) !important;
}
#urlbar-results:not([wrap="true"]) .urlbarView-action, #urlbar-results:not([wrap="true"])  .urlbarView-url{
    transform: translateX(15px) !important;
}
