
:root {
    --tab-min-height: var(--classic_squared_tabs_tab_height) !important;
    --mltabs-newtab-height: calc(var(--classic_squared_tabs_tab_height) + 1px) !important;
    --tab-min-height_tnot: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
    --tab_below_navigation_toolbar_bottom_padding: var(--classic_squared_tabs_tab_height) !important;
    --tab_below_main_content_bottom_margin: calc(2px + var(--classic_squared_tabs_tab_height)) !important;
    --tab_below_main_content_toolbar_height: calc(1px + var(--classic_squared_tabs_tab_height)) !important;
    --tab_below_main_content_top_margin: 0 !important;
    --ctb_start_padding: 2px !important;
    --ctb_width: 14px !important;
    --ctb_start_margin: -4px !important;
    --ctb_end_margin: 12px !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-background {
    background: unset !important;
    border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
    border-radius: 0 !important;
}
#tabbrowser-arrowscrollbox{
    position: relative !important;

}
#tabbrowser-arrowscrollbox:before{
    box-shadow: inset 0 -2px 2px #efefef !important;
    position: absolute;
    height: 4px;
    width: 100%;
    content: "";
    bottom:0;
    backdrop-filter: blur(2px);
}
#navigator-toolbox{
    background-color: #a2cfec !important;
    border-top: 1px solid #fefefe !important;
    padding-top: 1px !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:last-of-type{
    border-top-right-radius: 3px !important;

}#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:first-of-type{
    border-top-left-radius: 3px !important;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
    color: var(--classic_squared_tabs_tab_text_color) !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab{
    position: relative;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]::after{
    content:"";
    width:15px;
    height: 21px;
    background: url("../images/arc''.png");    background-size: cover;
    transform: translateY(7px) translateX(-2px) ;
    border-bottom: 1px solid #555;
    filter: grayscale(0%);


}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]::before{
    content:"";
    width:15px;
    height: 21px;
    background: url("../images/arc''.png");    background-size: cover;
    transform: translateY(7px) translateX(2px) scaleX(-1);
    z-index: 1;
    border-bottom: 1px solid #555;
    filter: grayscale(0%);


}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab::after{
    content:"";
    width:15px;
    height: 19px;
    background: url("../images/arc''.png");
    background-size: cover;
    transform: translateY(9px) translateX(-3px);
    margin-right: -3px;
    border-bottom: 1px solid #555;
    filter: grayscale(55%) brightness(1.2);
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab::before{
    content:"";
    width:15px;
    height: 19px;
    background: url("../images/arc''.png");
    background-size: cover;
    transform: translateY(9px) translateX(3px) scaleX(-1);
    z-index: 1 ;
    border-bottom: 1px solid #555;
    filter: grayscale(55%) brightness(1.2);}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 45%, rgba(181, 227, 255, 0.15) 0%, rgba(207, 207, 207, 0.22));
    box-shadow:   0 0 0 1px  #fffc inset;
    background-color: rgba(145, 224, 235, 0.5);
    border: 1px solid #444;
    color: #444;
    padding-left: 12px !important;
    padding-right: 10px !important;
    border-bottom: 1px solid #555 !important;
    font-size: 13px !important;
    backdrop-filter: blur(4px) !important;
    text-shadow: 1px 1px 2px #fff;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([selected]) .tab-content :is(.tab-close-button, .tab-icon-image){
opacity: 0.7 !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-content {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 45%, rgba(181, 227, 255, 0.15) 0%, rgba(207, 207, 207, 0.22));
    background-color: rgba(93, 183, 235, 1);
    color: #fff;
    box-shadow:
    inset 0 1px 2px rgba(255,255,255, 0.64),
     0 0 0 1px  #fffc inset;
    backdrop-filter: blur(4px) !important;
    border: 1px solid #444;
    border-bottom: 1px solid #555 !important;
    text-shadow: 1px 1px 2px #444;
}

#TabsToolbar .tabbrowser-tab .tab-background, #TabsToolbar .tabbrowser-tab .tab-stack, #TabsToolbar .tabbrowser-tab, #TabsToolbar .tabbrowser-tab .tab-content
{    border-radius: 16px !important;

    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#TabsToolbar .tabbrowser-tab[selected] .tab-background, #TabsToolbar .tabbrowser-tab[selected] .tab-stack, #TabsToolbar .tabbrowser-tab[selected], #TabsToolbar .tabbrowser-tab[selected] .tab-content{
    border-radius: 14px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected],[multiselected]) {
    background-color:     rgba(93, 183, 235, 1);

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([selected]):hover:before,#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([selected]):hover:after {
    filter: grayscale(20%);
}

.tabbrowser-tab .tab-background:is([selected],[multiselected]) {
    border-image: unset !important;
    border-image-slice: 0 !important;
}


.tab-background {
    margin-block: unset !important;
}


.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
    margin-inline-start: -6px !important;
}

.tabbrowser-tab,
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    min-height: var(--classic_squared_tabs_tab_height) !important;
}

#TabsToolbar #tabbrowser-tabs[overflow] .tabbrowser-tab[pinned] {
    min-height: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
    max-height: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
}


#TabsToolbar .tab-content[pinned] {
    padding: 0 6px !important;
}


.tabbrowser-tab {
    padding-inline:0px !important;
}



#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: unset !important;
}



#private-browsing-indicator-with-label {
    display: none !important;
}

.tab-label-container {
    padding-bottom: 2px !important
}

#nav-bar:not([tabs-hidden="true"]) {
    position: unset !important;
}
.tab-throbber:not([busy], [progress])+.tab-icon-pending+.tab-icon-image:not([src]){
    display: block !important;
}
.tab-icon-image:not([src]){
    content: url("../images/page_aero.png") !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-content{
    height:29px !important;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([selected]) .tab-content{
    height:27px !important;
    transform: translateY(2px);
}