
:root {
    --tab-min-height: var(--classic_squared_tabs_tab_height) !important;
    --mltabs-newtab-height: calc(var(--classic_squared_tabs_tab_height) + 1px) !important;
    --tab-min-height_tnot: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
    --tab_below_navigation_toolbar_bottom_padding: var(--classic_squared_tabs_tab_height) !important;
    --tab_below_main_content_bottom_margin: calc(2px + var(--classic_squared_tabs_tab_height)) !important;
    --tab_below_main_content_toolbar_height: calc(1px + var(--classic_squared_tabs_tab_height)) !important;
    --tab_below_main_content_top_margin: 0 !important;
    --ctb_start_padding: 2px !important;
    --ctb_width: 14px !important;
    --ctb_start_margin: -4px !important;
    --ctb_end_margin: 12px !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:is([selected],[multiselected]),
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-background {
    background: unset !important;
    border: unset !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
    color: var(--classic_squared_tabs_tab_text_color) !important;
    margin-bottom: 2px !important;
}



#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]{
    margin-bottom: 1px !important;
    min-width: 250px !important;

}
@media (max-width: 1000px){
    #TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]{
        min-width: 240px !important;
    }
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab{
    position: relative;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]::after{
    content:"";
    width:17px;
    height: 20px;
    background: url("../images/arc.png");
    background-size: cover;
    transform: translateY(6px) translateX(-4px) ;
    border-bottom: 1px solid white;
    filter: grayscale(40%) brightness(0.9);

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected]::before{
    content:"";
    width:17px;
    height: 20px;
    background: url("../images/arc.png");
    background-size: cover;
    transform: translateY(6px) translateX(4px) scaleX(-1);
    z-index: 1;
    border-bottom: 1px solid white;
    filter: grayscale(40%) brightness(0.9);
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab::after{
    content:"";
    width:17px;
    height: 22px;
    background: url("../images/arc''.png");
    background-size: cover;
    transform: translateY(3px) translateX(-3px);
    margin-right: -3px;
    border-bottom: 1px solid white;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab::before{
    content:"";
    width:17px;
    height: 22px;
    background: url("../images/arc''.png");
    background-size: cover;
    transform: translateY(3px) translateX(3px) scaleX(-1);
    z-index: 1 ;
    border-bottom: 1px solid white;

}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 45%, rgba(181, 227, 255, 0.15) 0%, rgba(207, 207, 207, 0.22));
    box-shadow:  0 2px 6px 0px rgba(203, 247, 255, 0.8) inset, 0 0 0 1px  #fffc inset, inset 0 -2px 2px 0 rgba(0, 255, 255, 0.67);
    background-color: rgba(93, 183, 235, 0.4);
    border: 1px solid #444;
    color: #fffc;
    padding-left: 12px !important;
    padding-right: 10px !important;
    border-bottom: transparent;
    font-size: 13px !important;
    text-shadow: 1px 1px 2px #333 !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-content {
    background-image: linear-gradient(rgba(234, 240, 248, 0.45) 45%, rgba(255, 255, 255, 0.3) 0%, rgba(178, 213, 238, 0.4));
    box-shadow: 0 -2px 5px 0px rgba(255, 255, 255, 0.6) inset, inset 0 1px 2px 0px rgba(255,255,255, 0.64),
    0 2px 6px 0px rgba(84, 220, 80, 0.8) inset, 0 0 0 1px  #fffc inset;
    color: white;
    backdrop-filter: blur(4px) !important;
    border: 1px solid #444;
    border-bottom: none;
    background-color: rgba(0, 149, 0, 0.4);
    text-shadow: 1px 1px 2px #222 !important;

}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[selected] .tab-icon-stack{
    margin-left: 2px !important;
}
#TabsToolbar .tabbrowser-tab .tab-background, #TabsToolbar .tabbrowser-tab .tab-stack, #TabsToolbar .tabbrowser-tab, #TabsToolbar .tabbrowser-tab .tab-content
{    border-radius: 16px !important;

    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected],[multiselected]) {
    background-color: rgba(0, 255, 255, 0.3);
}


.tabbrowser-tab .tab-background:is([selected],[multiselected]) {
    border-image: unset !important;
    border-image-slice: 0 !important;
}


.tab-background {
    margin-block: unset !important;
}





.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
    margin-inline-start: -6px !important;
}

.tabbrowser-tab,
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    min-height: var(--classic_squared_tabs_tab_height) !important;
}

#TabsToolbar #tabbrowser-tabs[overflow] .tabbrowser-tab[pinned] {
    min-height: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
    max-height: calc(var(--classic_squared_tabs_tab_height) - 1px) !important;
}


#TabsToolbar .tab-content[pinned] {
    padding: 0 6px !important;
}



.tabbrowser-tab {
    padding-inline:0px !important;
}



#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: unset !important;
}



#private-browsing-indicator-with-label {
    display: none !important;
}

.tab-label-container {
    padding-bottom: 2px !important
}

#nav-bar:not([tabs-hidden="true"]) {
    position: unset !important;
}
.tab-throbber:not([busy], [progress])+.tab-icon-pending+.tab-icon-image:not([src]){
    display: block !important;
}
.tab-icon-image:not([src]){
    content: url("../images/page_aero.png") !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:only-of-type{
    --classic_squared_tabs_tab_height: 27px;
}