
:root {
    --arrowpanel-border-radius: 2px !important;
    --panel-border-radius: 2px !important;
}

* menupopup,
:is(menupopup, panel)[type=arrow] {
    --arrowpanel-border-radius: 2px !important;
    --panel-border-radius: 2px !important;
    border-radius: 2px !important;
}
